body {
  background: #c3c3c3;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Verdana;
  width: 100%;
  margin: 0 auto;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 600px;
}

h1 {
  color: #dfdfdf;
  text-align: left;
}

p {
  color: #666666;
}

.thumb {
  flex: 1;
  margin: 3px;
  height: 70px;
  width: 70px;
  display: block;
  cursor: pointer;
  object-fit: cover;
  max-width: 100px;
  transition: 0.2s;
}

.thumb:hover {
  opacity: 0.7;
  border-bottom: solid 5px rgb(255, 220, 63);
}

#thumbnails {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 600px;
  margin: 0 auto;
  padding: 0px;
}

#bigimage {
  height: 400px;
  width: 600px;
  object-fit: cover;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  body {
    background: #666666;
  }

  .thumb {
    flex: 1;
    margin: 3px;
    height: 70px;
    width: 70px;
    display: block;
    cursor: pointer;
    object-fit: cover;
    max-width: 100px;
    transition: 0.2s;
  }

  .thumb:hover {
    opacity: 0.7;
    border-bottom: solid 5px rgb(255, 220, 63);
  }

  #thumbnails {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 400px;
    margin: 0 auto;
    padding: 0px;
  }

  #bigimage {
    width: 400px;
    height: 350px;
    object-fit: cover;
  }

  h1 {
    color: #dfdfdf2a;
    text-align: left;
    text-align:center;
    text-transform: uppercase;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {

  body {
    background: #EBEBEB;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
  #thumbnails {
    position: relative;
    display: block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

/* X-Large devices (large desktops, larger than 1400px) */
@media (min-width: 1400px) {}